{% extends 'base.html' %}
{% load humanize %}

{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'listings' %}">View all cars</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock navbar %}

{% block content %}

<style>
  .carousel-item {
    object-fit:contain;
    max-width:100%;
    max-height:100%;
    object-position: center;
  }
</style>

<main id="main" style="width: 80%;margin-left:10%;padding-top:90px;" >
    <div class="container" style="padding-bottom:50px;">
        <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="section-headline services-head text-center">
                    <h2>{{listing.year}} {{listing.make}} {{listing.model}}</h2>
                  </div>
                </div>
            <!-- Carousel -->
            <section id="hero" style="height:45vw">
              <div class="hero-container">
                <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="10000">
          
                  <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
          
                  <div class="carousel-inner" role="listbox">
          
                    <a href="{{listing.thumbnail.url}}"><img class="carousel-item active" src="{{listing.thumbnail.url}}"></a>
                    
                    {% for image in listingImages%}
                    <a href ={{image.image.url}}><img class="carousel-item" src="{{image.image.url}}"></a>
                    {% endfor %}

                  </div>
          
                  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                  </a>
          
                  <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                  </a>
          
                </div>
              </div>
            </section><!-- End Carousel section -->
            
            <h4>£{{listing.price|floatformat:2|intcomma}}</h4>
            <h4><b>Colour:</b> {{listing.colour|capfirst}}</h4>
            <h4><b>Mileage:</b> {{listing.mileage|intcomma}} miles</h4>
            <h4><b>Description:</b></h4>
            <p>{{listing.description}}</p>
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" style="font-size:20pt;margin-top:25px!important;">Book a test drive</a></div>
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" style="font-size:20pt;margin-top:25px!important;">Buy now</a></div>
        </div>
    </div>

</main>

{% endblock content %}