{% extends 'base.html' %}

{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'listings' %}">View all cars</a></li>
<li><a class="nav-link scrollto active" href="{% url 'contact' %}">Contact</a></li>
{% endblock navbar %}

{% block content %}

<style>
  #id_name, #id_email_address, #id_subject, #id_message {
    width: 100%;
    background-color: rgb(245, 245, 245);
  }
  button {
    width:20%;
    margin-left:40%;
  }
  #id_captcha.g-recaptcha {
    width:304px;
    margin-left: auto;
    margin-right: auto;
  }
</style>


<!-- ======= Contact Section ======= -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <br><br><h2>Contact us</h2><br><br>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-phone"></i>
                <p>
                  Call: +1 5589 55488 55<br>
                  <span>Monday-Friday (9am-5pm)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-envelope"></i>
                <p>
                  Email: enquiries@carcommerce.uk<br>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="bi bi-geo-alt"></i>
                <p>
                  Location: 123 Non-existent Street<br>
                  <span>King's Lynn, Norfolk</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6">
            <!-- Start Map -->
            <iframe src="https://maps.google.com/maps?q=king's%20lynn&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start contact -->
          <div class="col-md-6">
            <form method="POST" style="width:100%;">
              {% csrf_token %}
              {{contactForm.as_p}}
              <button type="submit">Submit</button>
              <p><br><b>{{confirmation}}</b></p>
            </form>
          </div>

          
        </div>
      </div>
    </div>
  </div><!-- End Contact Section -->
  
  <script async src="https://www.google.com/recaptcha/api.js"></script>

  {% endblock content %}