{% extends 'base.html' %} 

{% load static %}
{% load mathfilters %}

{% block title %}carCommerce - Home{% endblock title %} 

{% block navbar %}
<li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
<li><a class="nav-link scrollto" href="#about">Recently added</a></li>
<li><a href="{% url 'listings' %}">View all cars</a></li>
<li><a class="nav-link scrollto" href="#services">About us</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
{% endblock navbar %}

{% block content %}

  <!-- ======= Carousel section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url({% static 'assets/img/carousel/carousel1.png' %});">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Quality second-hand cars</h2>
                <p class="animate__animated animate__fadeInUp">All our cars are fully inspected before listing, and come with a 1-year warranty</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">View recently added</a>
                <a href="{% url 'listings' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">View all cars</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/carousel/carousel2.png' %});">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Fantastic choice</h2>
                <p class="animate__animated animate__fadeInUp">We stock a wide variety of cars, from classics to the almost-new</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">View recently added</a>
                <a href="{% url 'listings' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">View all cars</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url({% static 'assets/img/carousel/carousel3.png' %});">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Helping you save <i class="bi bi-piggy-bank-fill"></i></h2>
                <p class="animate__animated animate__fadeInUp">All our cars are competitively priced, considering their great condition</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">View recently added</a>
                <a href="{% url 'listings' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">View all cars</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Carousel section -->

  <main id="main">

    <!-- ======= Recent car listings section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Recently added</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Recent car listings-->
          {% with start=listings|length|sub:4|stringformat:"s" %}
            {% with end=listings|length|stringformat:"s" %}
              {% with listslice=start|add:":"|add:end %}
                {% for listing in listings|slice:listslice reversed %}
                  <div class="col mb-5">
                    <div class="card h-100">
                      <!-- Product image-->
                      <img class="card-img-top" src="{{listing.thumbnail.url}}" alt="Car thumbnail" />
                      <!-- Product details-->
                      <div class="card-body p-4">
                        <div class="text-center">
                          <!-- Product name -->
                          <h5 class="fw-bolder">{{listing.make|capfirst}} {{listing.model|capfirst}}</h5>
                          <!-- Product price -->
                          £{{listing.price}}<br>
                          <!-- Product age -->
                          Year: {{listing.year}}<br>
                          <!-- Product mileage -->
                          Mileage: {{listing.mileage}} miles
                        </div>
                      </div>
                      <!-- Product actions-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">                                    
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View details</a></div><br>
                        </div>
                      </div>
                    </div>
                {% endfor %}
              {% endwith %}
            {% endwith %}
          {% endwith %}
        <!-- End car listings-->
        </div>
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'listings' %}" style="font-size:20pt;">View all cars</a></div><br>
      </div>
    </div>

    <!-- ======= About Us section ======= -->
    <div id="services" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>About us</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <i class="bi bi-wrench-adjustable"></i>
                  </a>
                  <h4>Expert mechanics</h4>
                  <p>
                    Our team give each car a full inspection prior to listing. We won't sell any car that doesn't qualify for our 1-year warranty. That's the CarCommerce guarantee!
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <i class="bi bi-emoji-smile-fill"></i>
                  </a>
                  <h4>Friendly sales team</h4>
                  <p>
                    Visit us in-store to benefit from our award-winning customer service. Alternatively, you can speak to the same team via email or over the phone. See our <a href="#">Contact page</a> for more details.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <i class="bi bi-search-heart-fill"></i>
                  </a>
                  <h4>Astounding choice</h4>
                  <p>
                    From MINI to Rolls-Royce. From budget to luxury.<br>Our amazing selection makes it incredibly easy to find a car you'll love, whatever you're looking for.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End About Us Section -->
    
    

  </main><!-- End #main -->

 {% endblock content %}